################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/API_Biblioteca/.vs
/API_Biblioteca/bin/Debug/net8.0
