@page "/"

<PageTitle>Inicio</PageTitle>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="text-center">
            <h2 class="mb-3 fw-bold">¡Hola! Bienvenid@@ a mi prueba técnica</h2>
        </div>

        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-body">
                    <p class="mt-4">
                        Esta aplicación esta desarrollada en .NET 8.0 utilizando C#, Entity Framework Core 8.0.4 y conectada
                        a una base de datos en SQL Server. Esta construida bajo una arquitectura por capas y una implementación
                        de patrones de diseño: Repository y Unit of Work, para abstraer el acceso a datos. Además de una interfaz
                        de usuario desarrollada en Blazor.
                    </p>
                    <br />
                    <div class="row justify-content-center text-center">
                        <div class="col-12 text-center" style="min-height: 130px;">
                            <img id="Image1" title="VisualStudio" class="icon" src="images/ico_visual.png" alt="VisualStudio" style="height:80px;width:80px;">
                            <img id="Image2" title=".NET 8.0" class="icon" src="images/ico_net.png" alt="ASP.NET WebForms" style="height:80px;width:80px;">
                            <img id="Image3" title="C#" class="icon" src="images/ico_csharp.png" alt="C#" style="height:80px;width:80px;">
                            <img id="Image4" title="Bootstrap" class="icon" src="images/ico_bootstrap.png" alt="Bootstrap" style="height:80px;width:80px;">
                            <img id="Image5" title="html5" class="icon" src="images/ico_html.png" alt="html5" style="height:80px;width:80px;">
                            <img id="Image6" title="Blazor" class="icon" src="images/ico_blazor.jpg" alt="Blazor" style="height:80px;width:120px;">
                            <img id="Image7" title="SQL Server" class="icon" src="images/ico_sql.png" alt="SQL Server" style="height:80px;width:80px;">
                        </div>
                    </div>

                    <p class="mt-4">Gracias por tu atención.</p>
                    <footer class="bg-dark text-white text-center py-3 mt-5">
                        <div class="container">
                            <p class="mb-0">Esta prueba fue realizada por <span class="fw-bold text-white">Jonathan Borda Montoya</span>.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
