@using Microsoft.AspNetCore.Components.Authorization
@using Sistema_Biblioteca.Services

@inject NavigationManager Navigation
@inject ILoginService loginService;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Biblioteca de Titanes</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link bg-black text-white">
                    <i class="fa-solid fa-user-tie fs-5 mx-2"></i> ROL ADMIN
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="User">
            <div class="nav-item px-3">
                <NavLink class="nav-link bg-black text-white">
                    <i class="fa-solid fa-user fs-5 mx-2"></i> ROL USER
                </NavLink>
            </div>
        </AuthorizeView>


        <div class="nav-item px-3 mt-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home fs-5 mx-2"></i> Inicio
            </NavLink>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
                        <i class="fas fa-user fs-5 mx-2"></i> Iniciar Sesión
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="autores" Match="NavLinkMatch.All">
                        <i class="fas fa-user fs-5 mx-2"></i> Autores
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="libros" Match="NavLinkMatch.All">
                        <i class="fas fa-book fs-5 mx-2"></i> Libros
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="HandleLogout">
                        <i class="fa-solid fa-right-from-bracket fs-5 mx-2"></i> Cerrar Sesión
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        await loginService.LogoutAndRedirect(Navigation);
    }

}
